/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
header {
    height: 90px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #1b1b32;
    color: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Logo e Institución */
header .my-logo {
    display: flex;
    align-items: center;
}

/* Imagen en la esquina superior izquierda con margen */
header img {
    height: 60px; 
    margin-left: 10px; 
}

/* Texto al lado de la imagen */
header .my-logo p {
    font-size: 1em;
    max-width: 300px;
    text-align: left;
    white-space: normal; 
    margin-left: 10px; 
}

/* Menú de navegación */
nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
}

nav a:hover {
    color: orange;
}

/* Buscador */
#search-box {
    padding: 10px 0;
    text-align: right;
}

#search-box input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

/* Fondo sección principal */
.urquiza-background {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("https://media.lacapital.com.ar/p/3ef5662c2dbfb07f35a8c28c46627aad/adjuntos/203/imagenes/005/944/0005944959/642x0/smart/los-alumnos-la-escuela-secundaria-n49-gral-jj-urquiza-protestaron-y-abandonador-el-establecimiento-foto-s-toriggino.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    min-height: 20vh; 
    padding: 50px 20px;
    color: white;
    text-align: center;
}

/* Título "Alumnado" */
.urquiza-background h1 {
    font-size: 2.5em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

/* Contenido principal */
main {
    margin-top: 90px; 
    display: flex;
    flex: 1;
}

/* Aside izquierdo y derecho */
aside {
    padding: 20px;
    background-color: #f4f4f4;
    width: 20%;
}

.left-aside {
    border-right: 2px solid #ddd;
}

.right-aside {
    border-left: 2px solid #ddd;
}

/* Carreras */
.carrera {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.carrera img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.carrera a {
    font-size: 1.25em;
    text-decoration: none;
    color: #1b1b32;
}

.carrera a:hover {
    color: coral;
}

/* Noticias */
.noticias {
    list-style: none;
    padding-left: 0;
}

.noticias li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.noticias li h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.noticias li p {
    font-size: 0.9em;
    color: #555;
}

/* Sección principal */
section h1 {
    text-align: center;
}

section p {
    border: 2px solid #1b1b32;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 20px 0;
}

.inscripcion-link {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #1b1b32;
    background-color: #f9f9f9;
    color: #1b1b32;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0;
    font-weight: bold;
}

.inscripcion-link:hover {
    background-color: #1b1b32;
    color: white;
}

/* Footer */
footer {
    background-color: #1b1b32;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 10px 20px 0px 20px;
}

footer h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    aside {
        width: 100%;
        border: none;
    }

    .left-aside,
    .right-aside {
        border: none;
        padding: 10px;
    }
}
